# Archivos sensibles
.env
*.env.local

# Compilados
target/
*.class
*.jar
*.war

# IDEs
.idea/
*.iml
.vscode/
.settings/
.project
.classpath

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# Docker
*.pid


.claude